<div class="container mt-5">
    {{# each articles }}
        <div class="col-xl-4 col-lg-4 col-sm-6 col-12">
          <article class="card border shadow-soft-3 shadow-soft-5-hover h-full">
            <a href="https://webpixels.io/blog/open-source-bootstrap-dashboard-kit">
              <img src="https://webpixels.s3.eu-central-1.amazonaws.com/img/blog/Rnb6fA99bLp7g5h6k3AN7xEn4xKHP4JpQkQP6bba.png" class="card-img-top" alt="Open-source Bootstrap Dashboard Kit" />
            </a>
            <div class="card-body">
              <div class="mb-2">
                <span class="text-sm text-muted">Feb 10, 2022</span>
              </div>
              <header>
                <h1 class="lh-tight ls-tighter h4">
                  <a href="https://webpixels.io/blog/open-source-bootstrap-dashboard-kit" class="d-block text-current">Open-source Bootstrap Dashboard Kit</a>
                </h1>
              </header>
              <p class="my-3"> Start building quality admin panels and dashboards without spending ho... </p>
            </div>
          </article>
        </div>
    {{ /each }}
</div>